@font-face{
    font-family: "Dreaming outloud";
    src:url("../../fonts/dreaming-outloud-allcaps-regular.otf")
}

body{
    background-color: #FCFCF7;
}

.humedas-titulo{
    font-family: "Cunia";
    color: #e95e35;
}

/* TARJETA IMPAR */

.humedas-tarjeta-imp{
    border-radius: 15pt;
    background-color: #9BD2EC;
    position: relative;
    height: 160pt;
    width: 90%;
}

.contenedor-img-imp{
    width: 40%;
    height: 160pt;
    overflow:hidden;
    border-radius: 15pt;
    top: 5pt;
    left: -10px;
    position: absolute;
}

.humedas-img-imp {
    position: relative;
    height: 300px;
    top: -80px;
    right: 50px;
}

.humedas-texto-imp{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 12pt;
    padding-left: 18pt;
    padding-right: 8pt;
}

.humedas-tarjeta-imp h2{
    font-family: "Dreaming outloud";
    color: #FCFCF7;
    font-size: 20pt;
    line-height: 27pt;
}

.humedas-icons{
    padding-left: 45px;
}

.humedas-icon{
    width: 20px;
    margin: 4pt 0 7pt 1pt;
}

.humedas-link{
    text-decoration: none;
}

/* TARJETA PAR */

.humedas-tarjeta-par{
    border-radius: 15pt;
    background-color: #9BD2EC;
    position: relative;
    height: 160pt;
    width: 90%;
}

.contenedor-img-par{
    width: 40%;
    height: 160pt;
    overflow:hidden;
    border-radius: 15pt;
    top: 5pt;
    right: -10pt;
    position: absolute;
}

.humedas-img-par{
    position: relative;
    height: 270px;
    top: -45px;
    right: 45px;
}


.humedas-texto-par{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 12pt;
    padding-left: 14pt;
    padding-right: 10pt;
}

.humedas-tarjeta-par h2{
    font-family: "Dreaming outloud";
    color: #FCFCF7;
    font-size: 20pt;
    line-height: 27pt;
}

.humedas-icons{
    padding-left: 25px;
}

.humedas-icon-par-1{
    width: 20px;
    margin: 7pt 0 7pt 0;
}

.humedas-icon-par-2{
    width: 20px;
    margin: 7pt 0 7pt 1pt;
}

.humedas-link{
    text-decoration: none;
}

/*  CORRECCIÓN POSICIÓN IMÁGENES */

#daniela-img{
    height: 280px;
    top: -70px;
    right: 50px;
}

#karen-img{
    height: 300px;
    top: -90px;
    right: 35px;
}

#maka-img{
    height: 350px;
    top: -120px;
    right: 60px; 
}

#linktree-icon{
    width: auto;
    height: 20px;
}

#sue-img{
    height: 350px;
    top: -120px;
    right: 65px;  
}

#carla-img{
    height: 250px;
    top: -30px;
    right: 20px; 
}

#karen-ca-img{
    height: 250px;
    top: -10px;
    right: 10px; 
}

.fa-linkedin{
    color: #FCFCF7;
}

/* MEDIA QUERIES DE 400 A 576PX */
@media (min-width: 400px) and (max-width: 500px) {
    .contenedor-img-imp, .contenedor-img-par{
        width: 142px;
    }

    /* CORRECCIÓN POSICIÓN IMÁGENES */
    #nicole-img{
        right: 50px;
    }
    
    #cristina-img{

    }

    #daniela-img{
        height: 280px;
        top: -70px;
        right: 40px;
    }
    
    #karen-img{
        height: 300px;
        top: -90px;
        right: 30px;
    }
    
    #maka-img{
        height: 350px;
        top: -120px;
        right: 60px; 
    }
    
    #sue-img{
        height: 350px;
        top: -120px;
        right: 65px;  
    }
    
    #carla-img{
        height: 250px;
        top: -30px;
        right: 20px; 
    }
    
    #karen-ca-img{
        height: 250px;
        top: -10px;
        right: 10px; 
    }
}

/* MEDIA QUERIES DE 500 A 576PX */
@media (min-width: 500px) and (width < 768px) {
    .contenedor-img-imp, .contenedor-img-par{
        width: 174px;
    }

    /* CORRECCIÓN POSICIÓN IMÁGENES */
    #nicole-img{
        right: 50px;
    }
    
    #cristina-img{

    }

    #daniela-img{
        height: 280px;
        top: -70px;
        right: 40px;
    }
    
    #karen-img{
        height: 300px;
        top: -90px;
        right: 30px;
    }
    
    #maka-img{
        height: 350px;
        top: -120px;
        right: 60px; 
    }
    
    #sue-img{
        height: 350px;
        top: -120px;
        right: 65px;  
    }
    
    #carla-img{
        height: 250px;
        top: -30px;
        right: 20px; 
    }
    
    #karen-ca-img{
        height: 250px;
        top: -10px;
        right: 10px; 
    }
}


/* MEDIA QUERIES MD DESDE 768 A 992PX */
@media (min-width: 768px) {
    .humedas-tarjeta-par, .humedas-tarjeta-imp{
        width: 45%;
    }



    /* CORRECCIÓN POSICIÓN IMÁGENES */
    #nicole-img{
        right: 50px;
    }
    
    #cristina-img{

    }

    #daniela-img{
        height: 280px;
        top: -70px;
        right: 40px;
    }
    
    #karen-img{
        height: 300px;
        top: -90px;
        right: 30px;
    }
    
    #maka-img{
        height: 350px;
        top: -120px;
        right: 60px; 
    }
    
    #sue-img{
        height: 350px;
        top: -120px;
        right: 65px;  
    }
    
    #carla-img{
        height: 250px;
        top: -30px;
        right: 20px; 
    }
    
    #karen-ca-img{
        height: 250px;
        top: -10px;
        right: 10px; 
    }
}

/* MEDIA QUERIES LG SOBRE 992 */

@media (min-width: 992px) {
    .humedas-tarjeta-par, .humedas-tarjeta-imp{
        width: 45%;
    }

    .contenedor-img-imp, .contenedor-img-par{
        max-width: 165px;
    }
    /* CORRECCIÓN POSICIÓN IMÁGENES */
    #nicole-img{
        right: 30px;
    }
    
    #cristina-img{
        right: 25px;
    }

    #daniela-img{
        right: 30px;
    }
    
    #karen-img{
        right: 20px;
    }
    
    #maka-img{
        right: 40px; 
    }
    
    #sue-img{
        right: 50px;  
    }
    
    #carla-img{
        right: 0px; 
    }
    
    #karen-ca-img{
        height: 250px;
        top: -10px;
        right: 10px; 
    }
}