@font-face{
    font-family: "Cunia";
    src:url("../fonts/Cunia.ttf")
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #e95e35;
}

.nav-link, .navbar-brand, .fa-bars{
    color: #FCFCF7;
}

.nav-link{
    font-family: "Cunia";
    background-color: #FCFCF7;
    color: #e95e35;
}

.navbar-toggler{
    border: none;
}

h1{
    font-family: 'Cunia';
    background-color: #e95e35;
    color: #FCFCF7;
}

